<div class="card text-center text-white bg-dark mb-3" style="width: 20rem; margin: 0 auto;">
    <div class="card-body">
    {{!-- <a class="btn btn-outline-dark btn-lg btn-block" href="/game/host" role="button">
        Create Game
    </a>

    <a class="btn btn-outline-dark btn-lg btn-block" href="/game/join" role="button">
        Join Game
    </a> --}}

    {{#if user}}
    {{else}}
        <a class="btn btn-light btn-lg btn-block" href="/login" role="button">
            Log In
        </a>
    {{/if}}

    <a class="btn btn-light btn-lg btn-block" href="/quest/add" role="button">
        Add Quest
    </a>

    <a class="btn btn-light btn-lg btn-block" href="/game/play" role="button">
        Play Game
    </a>

    <a class="btn btn-light btn-lg btn-block" href="/game/create" role="button">
        Create Game
    </a>

    <a class="btn btn-light btn-lg btn-block" href="/game/join" role="button">
        Join Game
    </a>
    </div>
</div>