{{!--
<a href="/auth/google">Sign In with Google</a> --}}
<div class="menu">
    {{!-- <a class="btn btn-outline-dark btn-lg btn-block" href="/game/host" role="button">
        Create Game
    </a>

    <a class="btn btn-outline-dark btn-lg btn-block" href="/game/join" role="button">
        Join Game
    </a> --}}

    <a class="btn btn-outline-dark btn-lg btn-block" href="/quest/add" role="button">
        Add Quest
    </a>

    <a class="btn btn-outline-dark btn-lg btn-block" href="/game/play" role="button">
        Play Game
    </a>
</div>