<script src="/socket.io/socket.io.js"></script>
<script src="/lobby.js"></script>

<div class="card text-center text-white bg-dark mb-3" style="width: 20rem; margin: 0 auto;">
    <div class="card-body">
        <h3 class="card-title gameID">{{gameID}}</h3>
        <div class="row">
            <div class="col-sm-12 ml-auto lobby-parent">
                <p class="lead text-center lobby">

                </p>
            </div>
        </div>
        <br>
        <button type="submit" class="btn btn-light">
            Play Game
        </button>
        <div class="waitingMessage"></div>
    </div>
</div>
<script src="//cdnjs.cloudflare.com/ajax/libs/validate.js/0.12.0/validate.min.js"></script>
<script src="/lobbyValidate.js"></script>