{{#if message}}
<div class="error">{{ message }}</div>
{{/if}}
<div class="card text-center text-white bg-dark mb-3" style="width: 20rem; margin: 0 auto;">
	<div class="card-body">
		<h3 class="card-title">Login</h3>
		<a class="btn btn-light" href="/auth/google" role="button">Sign In with Google</a>
	</div>
</div>